<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!--
   约定：
   add/create:跳转到添加页，或者打开添加操作的模态窗口
   save:执行添加操作
   edit:跳转到修改页，或者打开修改操作的模态窗口
   update:执行修改操作
   get:执行查询操作   find/select/query/...
   特殊操作 login等


 -->
  
  <filter>
    <!--过滤乱码的过滤器-->
    <filter-name>EencodingFilter</filter-name>
    <filter-class>com.yhy.crm.web.filter.EencodingFilter</filter-class><!--过滤器地址-->
  </filter>
  <filter-mapping>
    <filter-name>EencodingFilter</filter-name>
    <url-pattern>*.do</url-pattern><!--过滤谁，过滤后台文件-->
  </filter-mapping>

  <filter>
    <!--验证没有用登录过的过滤器-->
    <filter-name>loginFilter</filter-name>
    <filter-class>com.yhy.crm.web.filter.loginFilter</filter-class><!--过滤器地址-->
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>*.do</url-pattern><!--过滤谁，后台-->
    <url-pattern>*.jsp</url-pattern><!--前端-->
  </filter-mapping>

  <!--用户控制器-->
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.yhy.crm.settings.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>

  <!--市场活动控制器-->
  <servlet>
    <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.yhy.crm.workbench.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <url-pattern>/workbench/activity/getUserList.do</url-pattern>
    <url-pattern>/workbench/activity/save.do</url-pattern>
    <url-pattern>/workbench/activity/pageList.do</url-pattern>
  </servlet-mapping>
  
  
</web-app>
































